#home-container {
    background-color: #F8FBFC;
    display: flex;
    padding: 24px;
}

#home-container .sheet {
    background-color: white;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 16px;
}

#home-container .left-side {
    flex: 25%;
}

#home-container .left-side .profile {
    text-align: center;
}

#home-container .left-side .about .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#home-container .left-side .projects-history .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#home-container .left-side .projects-history .action {
    display: flex;
    align-items: center;
    gap: 16px;
}

#home-container .left-side .projects-history .action .add-button {
    font-size: 28px;
    font-weight: 200;
}

#home-container .mid {
    flex: 50%;
}

#home-container .mid .new-post {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#home-container .mid .new-post img {
    width: 75px;
}

#home-container .mid .new-post .post{
    display: flex;
    align-items: center;
    background-color: #FAFAFA;
    border: 1px solid #EBEBEB;
    width: 100%;
    height: 52px;
    border-radius: 16px;
    padding-left: 6px;
    padding-right: 3%;
}

#home-container .mid .new-post .post input {
    background-color: transparent;
    padding-left: 6px;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    outline: none;
    border: none;
}

#home-container .mid .new-post .post .new-post-button {
    width: 35px;
    height: 32px;
    padding: 0;
    font-size: 24px;
    font-weight: 200;
}

#home-container .right-side {
    flex: 25%;
}

#home-container .right-side .recent-projects .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 34px;
}
#home-container .right-side .recent-projects .header p {
    font-size: 14px;
    color: #3C97AF;
}

#home-container .right-side .recent-projects .project .project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

#home-container .right-side .recent-projects .project .header-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

#home-container .right-side .recent-projects .project .header-info p {
    font-size: 12px;
    color: #999;
}
#home-container .right-side .recent-projects .project .content {
    font-size: 12px;
    margin-top: 16px;
    color: #999;
}